.Tom {
  border: 0.5px solid;
}
p {
  text-align: center;
  padding-bottom: 0%;
}
h2 {
  text-align: center;
}
.jerry {
  height: 300px;
  width: 100%;
}
.slide {
  width: 100%;
}
.ben {
  background-color: antiquewhite;
}
